.active {
    color: #FFCDB2 !important;
}

.icon {
  font-size: 1.4em;
}

#navbar-side {
  color: var(--pink-normal);
  text-align: right;
  padding-top: 20%;
  padding-left: 30%;
  position: fixed; 
  top: 0; 
  left: 0; 
  font-size: 18px;
}

#navbar-side .social-icons {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 10px;
}

#navbar-side .social-icons > * {
  margin-right: 10px;
}

.icon {
  font-size: 1.4em;
}